<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>258431248668-uj8f32ch5uhb2k4ddhen592smqm3r245.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258431248668-uj8f32ch5uhb2k4ddhen592smqm3r245</string>
	<key>API_KEY</key>
	<string>AIzaSyCaRw93UXqwG4uK9tcdiPnoC9xIv2xpN38</string>
	<key>GCM_SENDER_ID</key>
	<string>258431248668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>U-Tad.Actividad-2Login</string>
	<key>PROJECT_ID</key>
	<string>actividad2-97730</string>
	<key>STORAGE_BUCKET</key>
	<string>actividad2-97730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:258431248668:ios:ab003c21c106a0b1</string>
	<key>DATABASE_URL</key>
	<string>https://actividad2-97730.firebaseio.com</string>
</dict>
</plist>
